<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <%- include("partials/cabecalho.ejs") %>
</head>
<body>
    <h1>BIBLIOTECA LEITURAS</h1>
    <img src="https://th.bing.com/th/id/OIP.Z_bXm9RPquI5rfY3Zuj43QHaDO?w=350&h=152&c=7&r=0&o=5&pid=1.7" alt="icone" >
</body>
<%- include("partials/rodape.ejs") %>
</html>