<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <%- include("partials/cabecalho.ejs") %>
</head>
<body>
    <h1>BIGODE DE RENAN</h1>
    <img src="https://i.ytimg.com/vi/CqDtGzy7EMU/hqdefault.jpg?sqp=-oaymwEmCOADEOgC8quKqQMa8AEB-AHmAoAC4AOKAgwIABABGGUgTShEMA8=&rs=AOn4CLC6ZOZ_gcVE5ku6itdKkmeNq4B5uA" alt="" srcset="">
</body>
<%- include("partials/rodape.ejs") %>
</html>